{
  "presets": ["es2015"],
  "plugins": [
    ["transform-runtime", {
      "polyfill": true,
      "regenerator": true,
      "helpers": false
    }],
    "transform-class-properties",
    "transform-async-to-generator"
  ]
}
